 * {
    margin: auto;
    box-sizing: border-box;
 }

.nav {
    background-image: linear-gradient(to right, blue, rgb(63, 0, 63));
    color: white;
    font-size: 30px;
    text-align: end;
    padding: 20px;
}

h1 {
    margin: 0;
}

.main {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-gap: 10px;
  
}
.search {
    width: 250px;
    float: left;
  
}
.input {
    height: 30px;
    width: 100%;
    display: inline-block;
    margin: 10px;
    border-radius: 6px;
    border-color: gray;
}

.button {
    height: 30px;
    width: 100%;
    margin: 10px;
    border-radius: 4px;
    background-image: linear-gradient(to right, rgb(97, 126, 179), rgb(57, 89, 230));
    border: none;


}

.save {
    height: 30px;
    width: 100%;
    margin: 10px;
    border-radius: 4px;
    background-image: gray;
    border: none;
}

.separator {
    height: 1px;
    background-color: black;
    margin: 10px;
    width: 250px;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    flex-basis: calc(18% - 20px);
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .mainCard {
    flex-basis: 88%;
  }